/*
W pliku index.html skrypt generuje w elemencie .container 551 divów.
Twoim zadaniem jest ostylowanie tych divów tak, by uzyskać ukrytą grafikę.
Rozwiazaniem zadania jest podanie hasła, co przedstawia grafika


Opis zadania
---------------------
W pliku zadanie.scss znajduja sie 2 tablice:
Pierwsza z nich to mapa kolorow, która zawiera kolory z kluczami:
color1 : #ffffff,
color2 : #6B327B,
itp.

Druga to dwuwymiarowa lista (lista list), w której zawarte są indeksy kolorów


Twoje zadanie to:
---------------------
- dołącz zadanie.scss do tego pliku
- zrob pętlę po liscie list i kazdorazowo pobieraj wartosc indexu koloru
- wykorzystaj index by pobrac z mapy kolorow kolor o danym kluczu (np gdy index jest równy 1, klucz koloru to color1)
Na bazie listy wygeneruj stylowanie dla kolejnych divów na stronie
Każdy div powinien mieć w stylach tylko backgorund: pobranyKolor z mapy kolorow

Przykładowy output:
---------------------
.container div:nth-of-type(1) { background: #ffffff; }
.container div:nth-of-type(2) { background: #ffffff; }
...
.container div:nth-of-type(6) { background: #222222; }

Zadanie dodatkowe:
---------------------
Dla każdego diva dodaj 2 linijki:
opacity:0;
animation: fade 1s 0.005s * $counter forwards;
Gdzie $counter to numer kolejnego diva.
*/

//------------- poniżej napisz swoje rozwiązanie --------------